@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.8em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .textos {
        flex-direction: column;
        align-items: center;
    }

    .textos div {
        width: 90%;
        margin-bottom: 20px;
    }

    .nutricao, .massagem, .livro {
        flex-direction: column;
        text-align: center;
    }

    .nutricao img, .massagem img, .livro img {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
    }

    .receitas-container {
        flex-direction: column;
        align-items: center;
    }

    .receita {
        width: 90%;
        margin-bottom: 20px;
    }
    .menu-btn {
        display: flex;
      }
    
      .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: #003e1b;
        padding-top: 80px;
        transition: 0.5s;
      }
    
      .nav.active {
        right: 0;
        height: 256px;
      }
    
      .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .nav-list li {
        margin: 15px 0;
      }
    
}